<body class="bg">
<div class="container bg">
  <div>
    
    <a class="" routerLink="/cadastra-curso"><h4 class="text-end margem mb-5">Todos os cursos </h4></a>
    <h2 class="text-white margem mb-5">Cursos Back-end</h2></div>
     <div class="row row-cols-1 row-cols-md-3 g-5 "> 
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/xKEpD7w.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Java</h5>
              <p class="card-text"> É uma das linguagens de desenvolvimento mais conhecidas e bem 
                remuneradas do mercado de trabalho. Curso muito didático e que ensinará a dominar 
                programação orientada a objetos e linguagem Java
              </p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal1">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/sujNdA9.png" class="card-img-top " alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Phython</h5>
              <p class="card-text">Python é uma linguagem de programação de alto nível estruturada e classificadas
                 como orientadas a objetos. Neste curso vou explicar alguns conceitos básicos e mostrar que 
                 você também pode aprender a programar!
              </p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal2">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/fy4WNmz.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Kotlin</h5>
              <p class="card-text">Nesse curso abordaremos desde os Fundamentos da Linguagem Kotlin, até sua aplicação
                 de forma performática para seu uso no dia a dia. Se você busca um conteúdo que realmente vai trazer 
                 uma diferencial na sua carreira.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal3">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <h2 class="mt-5 mb-5 text-white ">Cursos Front-end</h2>
      <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col zoom zoom">
          <div class="card h-100 ">
            <img src="https://i.imgur.com/tkKwQ0G.png" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">é o componente base da web. Isso quer dizer que ele permite a construção de websites e a inserção de
                 novos conteúdos. Este é o Curso Completo de HTML5. Primeiro você aprenderá sobre HTML5 desde o básico da estrutura,
                  imagens, semântica e formulário.
              </p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal4">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/kDBCpOO.png" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">CSS</h5>
              <p class="card-text">é um código em que você pode fazer alterações rápidas de layout, como definição de cores e fontes,
                 por exemplo. Essa camada proporciona não apenas a facilidade de personalização, como também ajuda a diminuir a 
                 repetição de conteúdo na estrutura do código, onde aprenderá tudo isso e muito mais neste curso.
              </p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal5">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom ">
          <div class="card h-100">
            <img src="https://i.imgur.com/RIimFt4.png" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">JavaScript</h5>
              <p class="card-text">Com este treinamento você será capaz de desenvolver seus códigos javascript para sites e sistemas que 
                rodam no browser. O objetivo é fazer você conseguir desenvolver vários tipos de projetos, validação de formulários e 
                diversos outros exemplos práticos que vão fazer você pensar como um desenvolvedor front-end de verdade.
              </p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal6">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mt-5 mb-5 text-white">Cyber Security</h2>
      <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
        <div class="col zoom">
          <div class="card h-100 ">
            <img src="https://i.imgur.com/ALhuXiB.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">Data Secutiry</h5>
              <p class="card-text">O Digital Data é o ativo mais importante e precisa ser mantido seguro para que qualquer 
                empresa seja bem sucedida. Aqui, você aprenderá diferentes requisitos e técnicas de segurança
                 de dados, entender quais são os diferentes tipos de dados e a sua importância para diferentes organizações.</p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal7">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/sHI3K2W.png" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">Docker</h5>
              <p class="card-text">Seja bem-vindo ao curso completo de Docker, ensinaremos todos os recursos da ferramenta, sem 
                precisar de qualquer conhecimento anterior na ferramenta. Neste curso você aprenderá de forma 
                teórica e prática as funcionalidades de Docker, criando projetos e com diversos tipos de ambientes
              </p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal8">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/OFqf6LU.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title ">AWS</h5>
              <p class="card-text">É a plataforma de nuvem mais adotada e mais abrangente do mundo. Mesmo que você tenha conhecimento ZERO
                 em AWS, não se preocupe. Esse é o seu curso! Comece a estudar hoje mesmo para a certificação 
                 e uma ótima remuneração do Mercado de Tecnologia atualmente.
              </p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal9">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
</div>  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Java</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            40 vagas.
             <br>
            EAD.
          </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm " data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal" (click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Python</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kotlin</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HTML</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CSS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">JavaScript</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Data Security </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2 " data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Docker</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">AWS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
            3 meses. <br>
            240 horas
        </div>
        <div class="modal-body">
          <h3>Descrição</h3>
          40 vagas.
           <br>
          EAD.
        </div>
          <div class="modal-body">
            <h3>Valor</h3>
            R$: 12.000,00
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2" data-bs-dismiss="modal"(click)="comprar()">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</body>




  