<body class="bg">
<div class="container bg">
    <h2 class="text-white margem mb-5">Cursos back-end</h2>
    <div class="row row-cols-1 row-cols-md-3 g-5 "> 
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal1">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top " alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal2">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom categorias">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal3">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <h2 class="mt-5 mb-5 text-white ">Cursos Front-end</h2>
      <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col zoom zoom">
          <div class="card h-100 ">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal4">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal5">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom ">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal6">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mt-5 mb-5 text-white">Cursos Full stack</h2>
      <div class="row row-cols-1 row-cols-md-3 g-5 mb-5">
        <div class="col zoom">
          <div class="card h-100 ">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal7">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal8">Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="col zoom">
          <div class="card h-100">
            <img src="https://i.imgur.com/33lOXQl.jpg" class="card-img-top" alt="...">
            <div class="card-body  cor">
              <h5 class="card-title ">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer  cor">
                <button type="button" class="btn btn btn1" data-bs-toggle="modal" 
                data-bs-target="#exampleModal9">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
</div>  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Back-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm " data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Back-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Back-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Front-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Front-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Front-end</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Full-stack</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Full-stack</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Full-stack</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Duração</h3>
          ...
        </div>
        <div class="modal-body">
            <h3>Descrição</h3>
            ...
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btm" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btm2">Inscreva-se</button>
        </div>
      </div>
    </div>
  </div>
</body>




  