<!--Header-->
<header id="inicio" class="margem">
    <div class="img-wrapper">
      <img src="https://i.imgur.com/LlGfE6l.jpg" alt="">
    </div>
    <div class="banner">
      <h1>Bem vinde ao Educa ++ </h1>
      <p>a plataforma feita especialmente para você!</p>
      
     <a routerLink="/cursos"><button>Cursos<img src="https://i.imgur.com/jvyS1hP.png" alt="" width="40px"></button></a>
    </div>
  </header>
  
  <!---Aqui termina o Header-->
  
  <!--Sessão cards categorias-->
  
  <div class="sessao-categorias" id="categorias">
    <div class="sessao-header">
     
      <h1>Categorias</h1> 
    </div>
    <div class="categorias">
      <div class="card">
        <div class="card-img-wrapper">
          <img src="https://i.imgur.com/rvlJEjl.jpg" alt="..." />
        </div>
        <div class="card-info">
          <h2>Back-End</h2>
          <h3>Pessoa Desenvolvedora Back-End</h3>
          <p>Cursos para capacitar pessoas desenvolvedoras Back-End.</p>
          <a href="..." target="_blank"><button class="btn">Saiba Mais</button></a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-wrapper">
          <img src="https://i.imgur.com/ERTStiw.jpg" alt="..." />
        </div>
        <div class="card-info">
          <h2>Front-End</h2>
          <h3>Pessoa Desenvolvedora Front-End</h3>
          <p>Cursos para capacitar pessoas desenvolvedoras Front-End.</p>
          <a href="..." target="_blank"><button class="btn">Saiba
              Mais</button></a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-wrapper">
          <img src="https://i.imgur.com/BHwZBw9.jpg" alt="imagem do projeto Casa Bela" />
        </div>
        <div class="card-info">
          <h2>Full Stack</h2>
          <h3>Pessoa Desenvolvedora Full Stack</h3>
          <p>Cursos para capacitar pessoas desenvolvedoras Front-End & Back-End.</p>
          <a href="..." target="_blank"><button class="btn">Saiba
              Mais</button></a>
        </div>
      </div>
      
    </div>
  
    <!--Aqui termina cards categorias-->