<div style="background-color:#2b475e">

    <div class="container margem ">
        
        <div class="row justify-content-center">
            <img src="https://i.imgur.com/lPHCyMV.png" class="lg mb-5" alt="">
            <h1 class="text-center text-warning">Sobre Nós</h1>
            <h3 class="text-white mt-3">
                O Educa++ é um projeto, com o intuito de capacitar pessoas em uma situação de
                vulnerabilidade, onde sera auxiliado com bolsas de auxilio de acordo com a necessidade do usúario, e
                também fazendo uma ligação com o mercado de trabalho por parceiros que queiram apoiar o projeto, com
                o
                intuito de inserir os nossos alunos no mercado de trabalho.
            </h3>
        </div>

        <h2>
            <p class="text-center text-warning clr-theme-secondary mt-3 mb-3 mt-lg-7 mb-lg-5 fs-24 fs-lg-40">
                Criadores do Projeto</p>
        </h2>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/95/fa/ba/95faba343d15ad90ab912d6b6f967d33.jpg">
                <p class="text-white ">Cíntia Rocha</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/3d/38/f4/3d38f440b972908a09dc728ee42d6ca8.jpg">
                <p class="text-white ">Charles Amorim</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/ff/11/87/ff11875dce275548f4a78255575463ad.jpg">
                <p class="text-white ">Deise Santos</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/ac/a1/ab/aca1abe630490611442701529c0717d4.jpg">
                <p class="text-white ">Douglas Santos</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/dd/31/49/dd314923ba878fe6d61f431a8f382eb7.jpg">
                <p class="text-white ">Luís Henrique</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/34/af/ea/34afea9bad988ca7b3d170ce74cbf0f6.jpg">
                <p class="text-white ">Sabrina Godoy</p>
            </div>
            <div class="col">
                <img class="img-fluid rounded-circle foto" width="100" height="100" alt=""
                    src="https://i.pinimg.com/564x/a5/ac/58/a5ac5800855ab22118e623d0c8d49b59.jpg">
                <p class="text-white ">Wesley Carlos</p>
            </div>

        </div>
    </div>