<div class="container-fluid">
  <div class="row  d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class=" text-white">
          <h1 class="fs-54">Bem vinde ao Educa ++</h1>
          <h5 class="fs-18">a plataforma feita especialmente para você!</h5>
        </div>
      </div>
    </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://i.imgur.com/HweivRN.png" alt="" width="500px" height="500px">

      </div>
      <div class="row d-flex justify-content-justify mt-3 mb-5">
        <div class="col-md-6">
          <a class="btn btn-outline-light ml-50" routerLink="/categorias">Nossos Cursos</a>
        </div>
      </div>
    

  </div>
  <div class="card-group ">
    <div class="card bg">
      <img src="https://i.imgur.com/EaKQ2ZV.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>
      </div>

    </div>
    <div class="card bg">
      <img src="https://i.imgur.com/na2DZ9i.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">This card has supporting text below as a natural lead-in to additional
          content.</p>
      </div>

    </div>
    <div class="card bg">
      <img src="https://i.imgur.com/iV4Yt6f.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">This is a wider card with supporting text below as a
          natural lead-in to additional content. This card has even longer content than the first to show that equal
          height action.</p>
      </div>

    </div>
  </div>


</div>