<div class="container-fluid">
  <div class="row  d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class=" text-white">
          <h1 class="fs-54">Bem vinde ao Educa ++</h1>
          <h5 class="fs-18">a plataforma feita especialmente para você!</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/HweivRN.png" alt="" width="500px" height="500px">

    </div>
    <div class="row d-flex justify-content-justify mt-3 mb-5">
      <div class="col-md-6">
        <a class="btn btn-outline-light ml-50" routerLink="/categorias">Nossos Cursos</a>
      </div>
    </div>


  </div>
  <div class="card-group ">
    <div class="card bg">
      <img src="https://i.imgur.com/EaKQ2ZV.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning">Mulheres na Tecnologia</h5>
        <p class="card-text text-white weight-bold">Dentro das organizações, em 64,9% dos casos, as mulheres representam no máximo
          20% das equipes de trabalho em tecnologia. Os principais cargos e áreas ocupados pelas mulheres nas equipes de
          tecnologia são: desenvolvedora, analista, gerência, project, tester e design.</p>
      </div>

    </div>
    <div class="card bg">
      <img src="https://i.imgur.com/na2DZ9i.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning">Tecnologia no Mundo</h5>
        <p class="card-text text-white weight-bold">A tecnologia está associada a vida humana desde os tempos remotos, porém cada
          epoca teve um desenvolvimento tecnológico diferente. Atualmente estamos vivendo a era tecnológica mais
          desenvolvida da historia, no ultimo seculo o mundo passou por um boom tecnológico com o constante
          desenvolvimento de tecnologias na área de produtos e informações que estão transformando o mundo. Atualmente,
          vemos o desenvolvimento de maquinas e equipamentos que vem facilitando a vida dos homens e mulheres nas mais
          diversas áreas na educação no trabalho, no meio ambiente, na nossa própria casa, etc.</p>
      </div>

    </div>
    <div class="card bg">
      <img src="https://i.imgur.com/iV4Yt6f.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning">Alta empregabilidade</h5>
        <p class="card-text text-white weight-bold">O setor de tecnologia aumentou e, 136% o número de vagas de emprego em 2021 em
          relação com o ano anterior. Já as contratações efetivadas tiveram um salto de 182%. Os dados são de um
          levantamento da GeekHunter em sua base de informações. A startup de recrutamento é especializada em
          contratação de desenvolvedores de software e cientistas de dados.</p>
      </div>

    </div>
  </div>


</div>